<aside
  class="bg-gray-100 dark:bg-gray-900 h-full w-64 fixed md:static md:w-64 transition-all duration-300"
>
  <nav class="p-4">
    <ul class="space-y-2">
      <li>
        <a
          routerLink="/playground"
          class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-white"
        >
          Playground
        </a>
      </li>
      <li>
        <a
          routerLink="/documentation"
          class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-white"
        >
          Docs
        </a>
      </li>
      <li>
        <a
          routerLink="/for-daniel"
          class="block p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-900 dark:text-white"
        >
          For Daniel
        </a>
      </li>
    </ul>
  </nav>
</aside>
