<div class="space-x-sm flex items-center">
  <div
    class="relative inline-flex h-6 w-12 cursor-pointer items-center rounded-full bg-neutral-200 transition-colors duration-200 ease-in-out"
    role="switch"
    [attr.aria-checked]="(themeService.theme$ | async) === 'dark'"
    aria-label="Toggle theme"
    tabindex="0"
    (click)="toggleTheme()"
    (keydown)="handleKeydown($event)"
  >
    <span
      class="bg-primary absolute h-5 w-5 transform rounded-full transition-transform duration-200 ease-in-out"
      [ngClass]="{
        'translate-x-6': (themeService.theme$ | async) === 'dark',
        'translate-x-1': (themeService.theme$ | async) !== 'dark',
      }"
    ></span>
  </div>
  <span class="text-text-light dark:text-text-dark font-sans text-sm">
    {{ themeService.theme$ | async | uppercase }}
  </span>
</div>
