<div class="flex flex-col items-center justify-start p-0">
  <!-- Dropdown header -->
  <button
    (click)="toggle()"
    class="flex w-full cursor-pointer items-center justify-between rounded-t-2xl bg-neutral-50 px-6 py-4 shadow-lg shadow-neutral-200 dark:bg-neutral-800 dark:shadow-neutral-900"
    [attr.aria-expanded]="isOpen"
    type="button"
  >
    <span
      class="inline-block rounded bg-neutral-200 px-4 py-2 text-lg font-bold tracking-wide text-neutral-800 capitalize dark:bg-neutral-700 dark:text-neutral-100"
    >
      {{ variant }}
      Variant
    </span>
    <svg
      [ngClass]="{
        'rotate-180': isOpen,
      }"
      class="ml-2 h-5 w-5 transition-transform duration-200"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
    </svg>
  </button>
  <!-- Dropdown content -->
  <div
    *ngIf="isOpen"
    class="w-full rounded-b-2xl bg-neutral-50 px-6 pt-2 pb-6 shadow-lg shadow-neutral-200 dark:bg-neutral-800 dark:shadow-neutral-900"
    role="region"
  >
    <div class="grid w-full grid-cols-1 gap-6">
      <!-- Sizes List -->
      <ng-container *ngFor="let size of sizes">
        <div class="flex flex-col items-start">
          <!-- Show status label above button on mobile only -->
          <span class="mb-2 block text-center text-base font-semibold capitalize md:hidden">{{
            size
          }}</span>
          <app-custom-button class="capitalize" [variant]="variant" [size]="size">
            {{ variant }}
          </app-custom-button>
        </div>
      </ng-container>
      <!-- States List -->
      <ng-container *ngFor="let state of states; let j = index">
        <div class="flex flex-col items-start">
          <!-- Show status label above button on mobile only -->
          <span class="mb-2 block text-center text-base font-semibold capitalize md:hidden">{{
            state
          }}</span>
          <app-custom-button [variant]="variant" [state]="state">
            {{ variant.charAt(0).toUpperCase() + variant.slice(1) }}
          </app-custom-button>
        </div>
      </ng-container>
      <!-- Link -->
      <app-custom-button
        variant="tertiary"
        target="_blank"
        class="hover:bg-transparent"
        href="https://www.google.com"
      >
        <span slot="content" class="underline">Link button</span>
      </app-custom-button>
    </div>
  </div>
</div>
