<aside
  class="fixed h-full w-64 bg-neutral-100 transition-all duration-300 md:static md:w-64 dark:bg-neutral-800"
>
  <nav class="p-md">
    <ul class="space-y-xs">
      <li>
        <a
          routerLink="/dashboard"
          class="p-sm text-text-light dark:text-text-dark hover:bg-primary-light dark:hover:bg-primary-dark transition-opacity-transform block rounded-md hover:opacity-80"
          aria-label="Dashboard"
        >
          Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/components"
          class="p-sm text-text-light dark:text-text-dark hover:bg-primary-light dark:hover:bg-primary-dark transition-opacity-transform block rounded-md hover:opacity-80"
          aria-label="Components"
        >
          Components
        </a>
      </li>
      <li>
        <a
          routerLink="/settings"
          class="p-sm text-text-light dark:text-text-dark hover:bg-primary-light dark:hover:bg-primary-dark transition-opacity-transform block rounded-md hover:opacity-80"
          aria-label="Settings"
        >
          Settings
        </a>
      </li>
    </ul>
  </nav>
</aside>
