<aside
  [ngClass]="open ? 'block fixed z-30 inset-0 w-64 h-full bg-neutral-100 dark:bg-neutral-800 transition-all duration-300 ease-in-out translate-x-0' : 'fixed z-30 inset-0 w-64 h-full bg-neutral-100 dark:bg-neutral-800 transition-all duration-300 ease-in-out -translate-x-full sm:translate-x-0 sm:block md:static md:w-64'"
>
  <nav class="p-md">
    <ul class="space-y-xs">
      <li *ngFor="let link of sidebarLinks">
        <a
          [routerLink]="link.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="p-sm hover:bg-primary-light dark:hover:bg-primary-dark transition-opacity-transform block rounded-md hover:text-text-dark"
          [attr.aria-label]="link.aria"
        >
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</aside>
